@import "../../GlobalStyle.scss";
.orderpage-container {
  background-color: #f5f5f5;
  padding: 20px 20px;
  display: flex;
}
.order-content {
  width: 100%;
  padding: 20px 20px;
  .ruler {
    color: $light-grey !important;
    height: 1px;
  }
}
.order-filter-list {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.order-filter-item {
  padding: 10px 10px;
  cursor: pointer;
  border-bottom: 2px solid rgba(0, 0, 0, 0.09);
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 500;
  color: $light-black;
}
.choosen {
  border-bottom: 2px solid red;
}
.order-filter-input {
  width: 100%;
  input {
    width: 100%;
    border: 1px solid $light-grey;
    padding: 5px 10px;
    font-size: 14px;
  }
}
.order-list {
  background-color: white;
  padding: 20px 20px;
  margin-top: 20px;
}
.order-item {
  display: flex;
  flex-direction: column;
  .order-product {
    align-items: center;
    justify-content: space-between;
  }
}
.order-product-title {
  margin-left: 10px;
}
.order-product-name {
  font-size: 15px;
  font-weight: 500;
}
.order-product-type {
  color: $light-black !important;
  font-size: 13px !important;
}
.order-product-img {
  width: 80px;
  height: 80px;
  img {
    width: 100%;
    height: 100%;
  }
}
.order-product-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.order-product-price {
  color: $primary-color;
  font-weight: 500;
  font-size: 14px;
}
.order-product-status {
  font-size: 13px;
  font-weight: 500;
  color: $font-dark-grey;
  label {
    margin-left: 10px;
  }
}
.order-product-total {
  text-align: right;
  label {
    margin-left: 10px;
    color: $primary-color;
    font-size: 17px;
    font-weight: 500;
  }
}
.order-button-options {
  display: flex;
  flex-direction: row;
  justify-content: end;
}
