@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Montserrat:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;600;700&family=Roboto:wght@300;400;700&family=Ubuntu:wght@400;500;700&display=swap");

$primary-color: #d10024;
$light-primary-color: #f1afba;
$red: #ef233c;
$black: #15161d;
$light-black: #1e1f29;
$light-grey: #e4e7ed;
$grey: #b9babc;
$font-grey: #8d99ae;
$font-dark-grey: #808089;

* {
  margin: 0 0;
  font-family: "Montserrat", sans-serif;
}
li,
ul,
a {
  color: $black;
  list-style: none;
  text-decoration: none;
  padding: 0;
}
button {
  border: none;
  cursor: pointer;
}
input,
textarea {
  outline: none;
}
a:hover {
  transition: 0.3s;
  cursor: pointer;
  color: $primary-color;
}
.row {
  display: flex;
  flex-direction: row;
}
.col {
  width: 297px;
  margin-right: 15px;
}
.col-6 {
  width: 60%;
}
.col-4 {
  width: 40%;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.ruler {
  display: block;
  height: 1px;
  width: 100%;
  background-color: $light-grey;
  margin: 10px 0;
}
