@import "../../GlobalStyle.scss";

.cart-container {
  margin: 40px 40px;
  text-align: center;
  img {
    width: 100px;
    height: 100px;
  }
  td {
    vertical-align: middle !important;
  }
}
.thanhtoan-btn {
  text-align: center;
  width: 150px;
  height: auto;
  background-color: $primary-color;
  padding: 10px 10px;
  border-radius: 20px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
