@import "../../GlobalStyle.scss";
@keyframes Cart_moveToRight {
  from {
    width: 180px;
  }
  to {
    width: 185px;
  }
}

.product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px;
  margin-bottom: 50px;
  .product-img {
    width: 300px;
  }
  img {
    width: 100%;
  }
  .product-info {
    width: 600px;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
  }
  .product-name {
    font-size: 20px;
    text-transform: uppercase;
    margin: 10px 0;
  }
  .product-price {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .product-old-price {
    font-size: 18px;
    font-weight: 400;
    margin-left: 10px;
  }
  .product-quantity-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }
  .product-quantity {
    margin: 10px 10px;
    display: flex;
    justify-content: space-between;
    height: 30px;
    border: 1px solid $grey;
    width: 100px;
    input {
      width: 40px;
      border: none;
      text-align: center;
    }
    .quantity-btn {
      font-size: 18px;
      width: 30px;
      text-align: center;
    }
  }
}

.add-to-cart-btn {
  text-transform: uppercase;
  width: 180px;
  margin-left: 20px;
  height: 40px;
  background-color: $red;
  padding: 10px 16px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
  color: white;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
  .icon {
    margin-right: 10px;
    display: none;
  }
  &:hover {
    background-color: white;
    color: $primary-color;
    border: 2px solid $primary-color;
    height: 40px;
    animation: Cart_moveToRight 0.5s forwards;
    .icon {
      display: flex;
      flex-direction: row;
    }
  }
}
.wishlist {
  width: 180px;
  margin: 10px 0;
  color: black;
  transition: 0.3s;
  &:hover {
    color: $primary-color;
    cursor: pointer;
  }
  .icon {
    margin-right: 10px;
  }
}
